.subtitle {
	font-size: 5vh;
	opacity: 0.5;
}

.checkboxLabel {
	margin-top: 32px;
	display: flex;
	align-items: center;
	justify-content: center;

	span {
		margin-left: 16px;
	}
}
.center {
	display: flex;
	text-align: center;
	justify-content: center;
}
.middle {
	display: flex;
	align-items: center;
}
.scrollMiddle {
	display: flex;
	justify-content: center;
	height: 100%;
	overflow: auto;
}
.centerCode {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.smallCode {
	zoom: 0.55;
	overflow: hidden;
}

.me {
	font-size: 5vh;
	display: flex;
	align-items: center;

	svg, img {
		margin-right: 1rem;
	}
}
.twitter {
	font-size: 12vh;
	margin-bottom: 6vh;
}

.hugeText {
	text-align: center;
	font-size: 5vh;

	.main,
	.pink,
	.orange {
		font-size: 10vh;
	}
	.main {
		color: #f99e26;;
	}
	.main:nth-of-type(2n) {
		color: #f92672;
	}
}
.centerWithHeader {
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.sidebyside {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
	width: 100%;
}
.flexDown {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.orange {
	color: #f99e26;
}
.pink {
	color: #f92672;
}

.fadeGroup {
	position: relative;
}
.fadeEnter,
.fadeEnterActive,
.fadeExit,
.fadeExitActive {
	transition: 0.3s ease opacity;
}
.fadeFixEnter,
.fadeFixEnterActive,
.fadeFixExit,
.fadeFixExitActive {
	transition: 3s ease opacity;
}
.fadeEnter,
.fadeFixEnter {
	opacity: 0;
}
.fadeEnterActive,
.fadeFixEnterActive {
	opacity: 1;
}
.fadeExitActive {
	opacity: 0;
	position: absolute;
	top: 0;
	height: 100% !important;
}
.fadeFixExitActive {
	opacity: 0;
}
